NEXT_PUBLIC_API_BASE=https://api.lolipay.app
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_ESCROW_CONTRACT_ID=
NEXT_PUBLIC_USDC_CODE=TUSDC
NEXT_PUBLIC_USDC_ISSUER=
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
