STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
SEP10_SIGNING_PUBLIC=
WEB_AUTH_ENDPOINT=https://api.lolipay.app/auth
TRANSFER_SERVER_SEP0024=https://api.lolipay.app/sep24
USDC_ASSET_CODE=TUSDC
USDC_ASSET_ISSUER=
